.selectData {
  width: 100%;
  padding: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.875rem;
}

.buttons > * {
  margin: 0 0.5rem;
}

.addNewCategoryIcon {
  width: 2rem;
  cursor: pointer;
}

.addOrbButton {
  color: #fff !important;
}

.icon {
  height: 1.5rem;
  fill: var(--primary-background-color);
}

.domain {
  color: #fff;
}

.detailContent {
  padding: 1.25rem;
}

.icon {
  color: gold;
  font-weight: bold;
  font-size: 1.5rem;
  align-self: center;
}
