.selectData {
  width: 100%;
  padding: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 0;
}

.buttons > * {
  margin: 0 0.5rem;
}

.addNewCategoryIcon {
  width: 2rem;
  cursor: pointer;
}

.addOrbButton {
  color: #fff !important;
}
