.modal {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal .closeButton {
  position: absolute;
  align-self: flex-end;
}

.modal .dialog {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 1rem;
  height: 15rem;
}

.dialog .header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.875em 7.125em 1.375em 7.125em;
  border-bottom: 1px solid #e6e6e6;
  font-size: 1.125rem;
  font-weight: bold;
  color: #333f48;
}

.dialog .content {
  display: flex;
  height: inherit;
}

.dialog .categories {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: #f6be00;
}

.dialog .subcategories {
  /* padding: 1rem; */
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #fff;
}

.dialog .subCategoryOptions {
  width: 100%;
}

.dialog .row {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dialog .row .info {
  justify-self: flex-end;
}

.dialog .buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.infoBox {
  position: absolute;
  display: block;
  bottom: 40px;
  /* margin-top: -80px; */
  right: -5px;
  background-color: rgba(246, 190, 0, 0.8);
}

.infoBox:before {
  content: '';
  position: absolute;
  right: 11px;
  bottom: -10px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: rgba(246, 190, 0, 0.8) transparent transparent transparent;
}
