.subcategories {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #fff;
  min-width: 30rem;
}

.layerList {
  margin: 1.625rem 1.875rem 1.375rem;
  min-height: 30rem;
}

.switchContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 30rem;
}

.switch {
  margin-right: 0.3125rem;
}

.layerList .row {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.layerList li:not(:first-child) {
  margin-top: 1.5rem;
}

.layerList li .info {
  padding: 0.25rem;
  justify-self: flex-end;
}

.layerList li .info:hover {
  background-color: #a2aaad;
}

.layerList li .info svg {
  width: 0.975rem;
  height: 0.975rem;
  color: #ffffff;
}

.addButton {
  margin: 0 1.875rem 1.625rem 0 !important;
  background-color: #f6be00 !important;
}

.addButton:hover {
  background-color: rgba(246, 190, 0, 0.8) !important;
}

.disabled,
.disabled:hover {
  background-color: #e4e4e4 !important;
}

.infoBox {
  position: absolute;
  display: block;
  font-size: 0.75em;
  padding: 1rem 1.25rem;
  border-radius: 0.3125rem;
  top: -0.9375rem;
  right: 2.0625rem;
  background-color: #f6be00;
  z-index: 2;
}

.infoBox:before {
  content: '';
  position: absolute;
  right: -1.25rem;
  border-style: solid;
  border-width: 0.625rem 0.625rem 0.625rem 0.625rem;
  border-color: transparent transparent transparent #f6be00;
}
