.errorWell {
  width: 100%;
  margin-bottom: 1rem;
}

.field {
  composes: row from '../../../../forms.module.css';
  flex-direction: column;
  align-items: flex-start;
}

.terms {
  align-self: flex-start;
  margin-bottom: 1em;
}

.link {
  margin-left: 1ch;
}

.label,
.footer {
  align-items: baseline;
}

.label {
  display: flex;
}

.footer {
  composes: footer from '../../../../forms.module.css';
}
