.infoBox {
  background-color: var(--color-primary);
  color: var(--color-text-dark);
  padding: 0.625em;
  border-radius: 0.5rem;
  position: relative;
}

.arrow::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0.625em 0.625em 0.625em 0.625em;
}

.top::before {
  top: -1.25em;
  border-color: transparent transparent var(--color-primary) transparent;
}

.right::before {
  right: -1.25em;
  border-color: transparent transparent transparent var(--color-primary);
}

.bottom::before {
  bottom: -1.25em;
  border-color: var(--color-primary) transparent transparent transparent;
}

.left::before {
  left: -1.25em;
  border-color: transparent var(--color-primary) transparent transparent;
}
