.property {
  display: grid;
  grid-template-columns: 1fr 2rem;
  margin-bottom: 1.25rem;
  row-gap: 1.25rem;
}

.radio {
  width: 100% !important;
  grid-column: 1 / 2;
}

.info {
  position: relative;
}

.infoButton {
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.625em;
  padding: 0.4em;
  width: max-content;
  height: auto;
  margin-left: 1em;
  background-color: #fff;
  border-radius: 50%;
  transition: opacity 250ms ease;
}

.infoButton:hover {
  opacity: 0.5;
}

.infoIcon {
  color: var(--color-secondary);
  width: 1em;
  height: auto;
}

.tooltip {
  max-width: 50ch;
}

.categoryPath {
  font-style: italic;
  margin-bottom: 8px;
}

.description {
  font-weight: 600;
}

.displayMenu {
  grid-column: 1 / span 2;
}

.label {
  color: #dcdcdc;
  font-size: 0.75rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.3125rem;
  margin-bottom: 1.25rem;
  width: 100%;
}

.button {
  color: #fff;
  background-color: #171819;
  padding: 0.625rem;
  width: 50%;
  font-size: 0.875rem;
  cursor: pointer;
}

.buttons .active {
  color: #171819;
  background-color: var(--color-yellow);
  cursor: not-allowed;
}

.button:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

.button:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}
