.overlay {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.dialog {
  position: relative;
  display: flex;
  background: #fff;
  border-radius: 1rem;
  height: 75%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.875em 7.125em 1.375em 7.125em;
  border-bottom: 1px solid #e6e6e6;
  font-size: 1.125rem;
  font-weight: bold;
  color: #333f48;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
}

.noOrbSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30rem;
  font-size: 1rem;
  font-weight: bold;
}
