.layerSelect {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #fff;
  min-height: 30rem;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.list {
  padding: 1.25rem;
}

.listItem,
.accordionContent + .accordionHeaderRoot {
  margin-top: 0.625rem;
}

.accordionHeader {
  width: 100%;
  text-align: left;
  font-weight: 600;
  color: var(--color--text--dark);
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
}

.accordionHeaderRoot {
  background-color: var(--button--secondary--background-color);
  color: var(--button--secondary--color);
  border-radius: var(--global--border-radius);
}

.arrow {
  color: inherit;
  width: 0.75em;
  height: 0.5625em;
  margin-right: 1em;
  transform: rotate(90deg);
  transition: transform 250ms ease-in-out;
}

.arrow.open {
  transform: rotate(180deg);
}

.accordionContent {
  overflow: hidden;
  height: min-content;
  max-height: 0;
  transition: max-height 250ms ease-in-out;
}

.accordionContent.open {
  max-height: 100%;
}

.noOrbMessage {
  place-self: center;
}

.button {
  padding: 1rem 2rem;
  margin: 0 1.25rem 1rem auto !important;
}
