.layerSelect {
  composes: section from '../data-layers-dialog.module.css';
  width: 60%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.listItem + .listItem,
.listItem + .accordionHeaderRoot,
.accordionContent + .accordionHeaderRoot {
  margin-top: 0.625rem;
}

.accordionHeader {
  width: 100%;
  text-align: left;
  font-weight: 600;
  color: var(--color--text--dark);
  display: flex;
  align-items: center;
}

.accordionHeaderRoot {
  background-color: var(--button--secondary--background-color);
  color: var(--button--secondary--color);
  border-radius: var(--global--border-radius);
  margin-bottom: 0.625rem;
}

.accordionButton {
  flex-grow: 1;
  padding: 0.5em 1em;
  text-align: left;
}

.selectAll {
  margin-left: auto;
  margin-right: 1em;
  padding: 0;
}

.accordionHeaderRoot .selectAll {
  color: #fff;
}

.arrow {
  color: inherit;
  width: 0.75em;
  height: 0.5625em;
  margin-right: 1em;
  transform: rotate(90deg);
  transition: transform 150ms ease-in-out;
}

.arrow.open {
  transform: rotate(180deg);
}

.accordionContent {
  display: none;
}

.accordionContent.open {
  display: block;
}

.noOrbMessage {
  place-self: center;
}

.button {
  padding: 1rem 2rem;
  margin: 1rem 1.25rem 1rem auto !important;
}
