.mapstyle-switcher-container {
  position: absolute;
  bottom: 7.5rem;
  right: 3rem;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  list-style-type: none;
  background-color: var(--color-secondary);
}

.mapstyle-switcher-container li {
  padding: 0.2rem 0;
}
.mapstyle-switcher-container label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f9f9f9;
  padding: 0 1rem;
  cursor: pointer;
}

.mapstyle-switcher-container label:hover {
  background: rgba(221, 185, 114, 0.25);
}

.mapstyle-switcher-container input {
  opacity: 0;
}

.mapstyle-switcher-container img {
  max-width: 60px;
}

.mapstyle-switcher-container span {
  /* padding-left: 1rem; */
}

.mapstyle-switcher-container .checked,
.mapstyle-switcher-container .checked:hover {
  background: rgba(221, 185, 114, 0.7);
}
