.mapstyle-switcher-container {
  position: absolute;
  bottom: 7.5rem;
  right: 3rem;
  z-index: 10;
  display: flex;
  padding: 0;
  list-style-type: none;
  background-color: var(--color-secondary);
  border-radius: var(--global--border-radius);
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9f9f9;
  cursor: pointer;
  padding: 0.5em 1em;
  transition: background-color 250ms ease, color 250ms ease;
}

.label:hover {
  background: rgba(246, 190, 0, 0.5);
}

.item:first-of-type,
.item:first-of-type .label:hover {
  border-radius: var(--global--border-radius) 0 0 var(--global--border-radius);
}

.item:last-of-type,
.item:last-of-type .label:hover {
  border-radius: 0 var(--global--border-radius) var(--global--border-radius) 0;
}

.input {
  opacity: 0;
  position: absolute;
}

.picture {
  max-width: 3.75rem;
}

.checked,
.checked:hover {
  background: var(--color-primary);
}

.checked .text {
  color: var(--color--text--dark);
}
