.filters {
  padding: 0.75rem 0;
  display: grid;
  grid-template-columns: 3.5rem 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'button heading reset'
    'button strapline reset';
  border-bottom: 1px solid var(--color-lightgrey);
}

.popupToggleButton {
  grid-area: button;
  justify-self: center;
  align-self: center;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  background-color: var(--button--primary--background-color);
  color: var(--button--primary--color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupToggleButton:hover {
  opacity: var(--button--opacity--hover);
  background-color: var(--button--primary--background-color--hover);
  color: var(--button--primary--color--hover);
}

.popupToggleButton .icon {
  width: 0.875rem;
  height: auto;
  color: #fff;
}

.heading {
  grid-area: heading;
  font-size: 0.75em;
}

.strapline {
  align-self: end;
  grid-area: strapline;
  font-size: 0.625em;
}
