.property {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #97979799;
  padding: 20px 0;
}

.property > legend {
  width: 25%;
}

.options {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  margin: -0.375rem -1rem -0.375rem 0;
}

.option {
  margin: 0.375rem 1rem 0.375rem 0;
}
