.form {
  background-color: transparent;
  margin: 0 1rem;
}

.row {
  width: 100%;
}

.fields {
  width: 100% !important;
}

.textfield {
  font-size: 1rem;
  background-color: #333f48;
  color: #fff;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}
