.layersListItem {
  --padding-left: 1.5rem;
  width: 100%;
  padding: 0.75rem 0;
}

.button {
  width: 100%;
  min-height: 1.125rem;
  display: flex;
  align-items: center;
  padding: 0 1rem 0 var(--padding-left);
  color: #ffffff;
  font-size: 0.875rem;
  margin-bottom: 0;
  transition: margin-bottom 250ms ease;
}

.button:disabled {
  cursor: default;
}

.button.expanded {
  margin-bottom: 1rem;
}

.icon {
  height: 0.75rem;
}

.expandIcon {
  margin-left: auto;
  transform: rotate(90deg);
  transition: transform 250ms ease;
}

.expandIcon.expanded {
  transform: rotate(180deg);
}

.children {
  padding: 0 0.5rem 0 var(--padding-left);
  max-height: 0;
  opacity: 0;
  transition: max-height 250ms ease, opacity 250ms ease;
}

.children.expanded {
  opacity: 1;
  max-height: 100%;
}
