.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 5rem;
  height: 100vh;
  background-color: var(--background-color);
  border-right: 2px solid var(--primary-background-color);
}

/* .buttonWrapper {
  display: flex;
} */

.footer {
  margin-top: auto;
}
.item,
.logo {
  cursor: pointer;
}

.item {
  /* width: 4rem; */
  height: 3rem;
  border: none;
  padding: 0.3rem;
  margin: 0 0 0.5rem 0;
  border-radius: 0.3rem 0 0 0.3rem;
  color: #a2aaad;
  cursor: pointer;
}

.item svg {
  width: 100%;
  height: 100%;
}

.item:hover {
  background-color: #fdfaf7;
  color: #000;
}

.item.active {
  background-color: var(--primary-button-background-color);
  color: var(--primary-foreground-color);
  /* color: #fff; */
}

.bottomPanel {
  margin-top: auto;
}

.logo {
  fill: var(--button-color);
  color: #fff;
  margin: 1rem 0.25rem;
}

.icon {
  height: 1rem;
  fill: var(--button-color);
}
