.mini-map-control {
}

.mini-map-container {
  height: 10rem;
  width: 20rem;
  border: 2px solid #fff;
}

.mini-map-handle {
  float: right;
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
  cursor: move;
}

.toggle-mini-map {
  float: left;
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
  cursor: pointer;
}
