.sideMenu,
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: var(--color-lightgrey-light);
}

.sideMenu {
  width: 25rem;
  background-color: var(--color-secondary);
  border-right: 1px solid var(--color-primary);
}

.content {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-top: 1px solid var(--color-primary);
}

.logo {
  fill: var(--button-color);
  color: #fff;
  margin: 0;
  cursor: pointer;
}

.userProfile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.defaultIcon {
  color: var(--color-primary);
}

.profileIcon,
.defaultIcon {
  display: flex;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin: 0.5rem;
}

.userInfo h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 1rem 0;
}

.button,
.buttonText {
  display: flex;
  align-items: center;
}

.button {
  font-weight: 600;
  margin: 0.5rem 0;
  border: 0;
  color: var(--color-lightgrey-light);
}

.button:hover {
  opacity: var(--button--opacity--hover);
}

.buttonIcon {
  height: 2rem;
  margin: 0 1rem;
}

.storage {
  margin: auto 1rem 0 1rem;
  color: var(--color-lightgrey-light);
  width: 100%;
}

.storageHeader {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.storageIcon {
  width: 1rem;
  margin-right: 0.25rem;
}

.storageInfo {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.75rem;
}
