.list {
  list-style-type: none;
  padding: 0 0.5rem;
  color: #fff;
  min-width: 20rem;
}

.list > li {
  padding: 0.2rem 0;
}

.label,
.name {
  font-weight: bolder;
  padding-right: 0.3rem;
}

.name {
  font-size: 1rem;
}
