.list {
  list-style-type: none;
  padding: 0 0.5rem;
  color: #fff;
  margin-top: 10px;
}

.header {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  color: #fff;
  border-bottom: 1px solid #f6be00;
}

.list > li {
  padding: 0.2rem 0;
}

.label {
  font-weight: bolder;
  padding-right: 0.3rem;
}
