.rv-continuous-color-legend {
  width: 100%;
}

.rv-continuous-color-legend .rv-gradient {
  height: 1.5em;
}

.rv-discrete-color-legend-item {
  padding: 0;
  color: inherit;
}

.rv-discrete-color-legend-item__color {
  position: relative;
}

.rv-discrete-color-legend-item.horizontal
  .rv-discrete-color-legend-item__title {
  margin-top: 0.75em;
  margin-bottom: 0.25em;
  text-align: center;
}
