.title {
  font-size: 1rem;
  font-weight: 600;
}

.information {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 300;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5rem;
  row-gap: 1rem;
}

.details {
  grid-column: 1 / -1;
}

.sourceLabel {
  font-weight: 400;
}

.source {
}
