.landing {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #fff;
}

.landingContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  min-height: 100%;
  background-color: #fff;
  color: #101010;
}

.banner,
.header,
.items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo,
.icon,
.header p,
.image,
.ellipsis,
.createNew {
  cursor: pointer;
}

.logo {
  /* HEIGHT MUST BE SAME AS BUTTON CONTAINER */
  width: 10rem;
  color: var(--primary-foreground-color);
}

.icon {
  height: 4rem;
  align-self: center;
}

.header {
  margin: 1rem 0;
}

.header h1 {
  font-size: 2.5rem;
}

.headerButton {
  align-self: center;
  padding: 0.5rem 0.25rem;
}

.item {
  width: 17rem;
  margin-right: 1rem;
}

.image {
  height: 12rem;
  align-self: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 1rem;
  overflow: hidden;
  opacity: 0.7;
}

.image:hover,
.createNew:hover {
  opacity: 0.7;
  opacity: 1;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  min-height: 1.5rem;
}

.info,
.title,
.creationDate {
  padding: 0.3rem 0;
}

.creationDate {
  font-size: 0.75rem;
  opacity: 0.5;
}

.optionsIcon {
  width: 2rem;
  align-self: center;
}

.itemSelect {
  width: 2rem;
}

.createNew {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  height: 12rem;
  border: 2px dashed var(--primary-foreground-color);
  border-radius: 1rem;
  background-color: #f6f4f4;
  font-size: 2.5rem;
  opacity: 0.7;
}

.createNew:hover {
  border: 2.5px solid var(--primary-foreground-color);
  background-color: #fff;
  color: var(--primary-button-background-active-color);
  opacity: 0.9;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* HEIGHT MUST BE SAME AS LOGO */
  height: 5rem;
}

.button {
  width: 15rem;
  margin-bottom: 1rem;
}

.viewAllItems {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1rem;
}

/* ORIGINAL STYLES */

.splash {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100vh;
}

.splash .logo {
  width: 10rem;
  color: #787c82;
}

.splash .content {
  display: flex;
  align-items: center;
  color: var(--foreground-color);
  height: 100%;
}

.splash .journey {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 25rem;
}

.journey h1 {
  font-size: 3rem;
  padding: 2rem 0;
}

.journeyText {
  max-width: 40rem;
  margin-bottom: 5rem;
}

.landingImage {
  width: 55rem;
}
