.userProfile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.defaultIcon {
  color: var(--color-primary);
}

.profileIcon,
.defaultIcon {
  display: flex;
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  object-fit: cover;
}

.userInfo {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
}

.name {
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.role {
  font-size: 0.75rem;
  color: var(--color-lightgrey);
}
