[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
# strong password hashing
argon2-cffi = ">=19.2.0"
# S3 Bucket access
boto3 = ">=1.12.23"
# plain-text content zipping (files & responses)
brotli = ">=1.0.7"
# django... duh
django = "~=3.0"
# users
dj-rest-auth = {extras = ["with_social"],version = ">=1.0"}
# cross-origin resource sharing
django-cors-headers = ">=3.2.1"
# access environment variables
django-environ = ">=0.4.5"
# extended API filters
django-filter = ">=2.2.0"
# docker health-checking
django-health-check = ">=3.12.1"
# secure tokens
django-rest-knox = ">=4.1.0"
# external file storage
django-storages = ">=1.9.1"
# API... duh
djangorestframework = "==3.11.1"
# API for GIS
djangorestframework-gis = ">=0.15.0"
# dynamic API
drf-flex-fields = ">=0.7.5"
# API documentation
drf-yasg = ">=1.17.1"
# GIS data processing
geopandas = ">=0.7.0"
# MapBox SDK
mapbox = ">=0.18.0"
# data processing
pandas = ">=1.0.2"
# postgresql support
psycopg2-binary = ">=2.8.4"
# data tokens
pyjwt = ">=1.7.1"
djangorestframework-simplejwt = "*"
# sentinel data
sentinelsat = ">=0.13"
# astrosat-specific code
django-astrosat-core = {editable = true,git = "https://github.com/astrosat/django-astrosat-core.git",ref = "master"}
django-astrosat-users = {editable = true,git = "https://github.com/astrosat/django-astrosat-users.git",ref = "master"}

[dev-packages]
# coverage reports for GitHub, GitLab, etc.
codecov = "*"
# live debug info
django-debug-toolbar = "*"
# test fixtures replacement
factory-boy = "==3.0.1"
# test library
pytest = "*"
# pytest django plugin
pytest-django = "*"
# pytest look-and-feel plugin
pytest-sugar = "*"

[requires]
python_version = "3.6"
