[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
# strong password hashing
argon2-cffi = "*"
# S3 Bucket access
boto3 = "*"
# plain-text content zipping (files & responses)
brotli = "*"
# tasks
celery = "*"
# django... duh
django = "~=3.0"
# users
django-allauth = "*"
dj-rest-auth = "*"
# task scheduler
django-celery-beat = "*"
# task db access
django-celery-results = "*"
# cross-origin resource sharing
django-cors-headers = "*"
# access environment variables
django-environ = "*"
# extended API filters
django-filter = "*"
# docker health-checking
django-health-check = "*"
# provides logging handler for logstash
python-logstash = "~=0.4.6"
# secure tokens
django-rest-knox = "*"
# external file storage
django-storages = "*"
# API... duh
djangorestframework = "==3.13.1"
# API for GIS
djangorestframework-gis = "*"
# API authentication
djangorestframework-simplejwt = "*"
# dynamic API
drf-flex-fields = "*"
# API documentation
drf-yasg2 = "*"
# convert json to pandas-compatible stuff
flatten-json = "~=0.1"
# GIS data processing
geopandas = "*"
# MapBox SDK
mapbox = "*"
# data processing
pandas = "*"
# pdf reports
pypdf3 = "*"
# postgresql support
psycopg2-binary = "*"
# data tokens
pyjwt = "*"
# task broker
redis = "*"
# proxying requests...
pysocks = "*"
# sentinel data
sentinelsat = "*"
# more pdf reports
xhtml2pdf = "*"
# astrosat-specific code
django-astrosat-core = {editable = true,git = "https://github.com/astrosat/django-astrosat-core.git",ref = "master"}
django-astrosat-users = {editable = true,git = "https://github.com/astrosat/django-astrosat-users.git",ref = "master"}
dat-utils = {editable = true,git = "https://github.com/astrosat/dat-utils.git",ref = "master"}

[dev-packages]
# coverage reports for GitHub, GitLab, etc.
codecov = "*"
# live debug info
django-debug-toolbar = "*"
# test fixtures replacement
factory-boy = "*"
# linting
pylint = "*"
# test library
pytest = "*"
# test library plugins
pytest-django = "*"
pytest-html = "*"
pytest-sugar = "*"
pytest-watch = "*"
# linting
yapf = "*"

[requires]
python_version = "3.8"
