.button {
  font-size: inherit;
  background-color: var(--color-lightgrey);
  border-radius: 50%;
  padding: 0.25em;
  display: grid;
  place-items: center;
  color: #fff;
  transition: all 150ms ease-in-out;
}

.button:hover,
.button:focus {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.button:active {
  background-color: var(--color-primary-light);
}

.icon {
  width: 1em;
  height: 1em;
}
