.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profileButtons {
  padding: 0 1rem 1rem 1rem;
  color: #fff;
}

.linkContainer {
  padding: 0 0 2rem 0;
}

.links {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: smaller;
}

.link {
  color: #fff !important;
  margin-left: 0.5rem !important;
}
