.incidentals {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: smaller;
  opacity: 0.5;
}

.incidentals li {
  list-style-type: disc;
}

.footer {
  display: flex;
  padding: 1rem 0 1.5rem 0;
}