.header {
  display: flex;
  align-items: center;
}

.close {
  position: absolute !important;
}

.heading {
  font-size: 14px;
  font-weight: 600;
  margin: 0 auto;
}

.data {
  padding: 1rem 0;
}

.strapline {
  font-size: 0.75rem;
  color: var(--color-primary);
  padding: 0 1rem 1rem;
  font-style: italic;
}
