.sidebarItem {
  min-height: 1.875rem;
  margin-left: 1.875rem;
  margin-top: 1rem;
  padding: 0.5rem;
  padding-right: 1.875rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.3125rem 0 0 0.3125rem;
  color: var(--color-lightgrey);
  transition: background-color 200ms ease;
}

.sidebarItem.withLabel {
  margin-left: 1rem;
}

.sidebarItem:hover,
.sidebarItem:focus {
  outline: none;
  background-color: var(--color-darkgrey-light);
}
.sidebarItem:hover {
  cursor: pointer;
}

.selected {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.icon {
  max-height: 1.875rem;
  max-width: 1.875rem;
}

.icon + .label {
  margin-left: 1.25rem;
}
