.side-menu-container {
  --checkbox--label--color: #fff;
  --checkbox--border-color: #fff;
  position: absolute;
  top: 0;
  left: calc(-25rem + var(--toolbar-width));
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  height: 100%;
  background-color: var(--color-secondary);
  border-left: 2px solid var(--color-primary);
  color: #fff;
  visibility: hidden;
  transition: visibility 500ms, left 500ms ease-in-out;
  z-index: 3;
  border-radius: 0 0.3rem 0.3rem 0;
}

.show {
  left: calc(var(--toolbar-width) - 0.6875rem);
  visibility: visible;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.container {
  padding: 1rem;
}

.form {
  background-color: transparent;
  height: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button {
  --padding-y: 0.532rem;
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
  width: 70%;
  margin: 0.5rem 0;
}

.row {
  width: 100%;
}

.fields {
  width: 100% !important;
}

.fields > * {
  margin-bottom: 1rem;
}

.sidebar {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid var(--color-primary);
}

.headings,
.headings .heading,
.headings .strapline {
  padding: 0.3rem;
}

.headings {
  display: flex;
  flex-direction: column;
}

.headings .heading {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
}

.headings .strapline {
  color: lightgray;
  font-size: 0.75rem;
}

.closeButton {
  align-self: flex-start;
}
