.side-menu-container {
  position: absolute;
  top: 0;
  left: 2.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 0rem;
  height: 100vh;
  background-color: lightgrey;
  visibility: hidden;
  transition: visibility 250ms, width 500ms ease-in-out;
  z-index: 5;
  border-left: 2px solid var(--primary-background-color);
}

.show {
  width: 20rem;
  visibility: visible;
  transition: visibility 250ms, width 500ms ease-in-out;
}

.side-menu-container ul {
  width: 100%;
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.side-menu-container ul li {
  border-bottom: solid 1px #000;
}

.side-menu-container ul li:last-child {
  border-bottom: unset;
}
