.side-menu-container {
  position: absolute;
  top: 0;
  left: calc(-25rem + 4.9rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  height: 99.8vh;
  background-color: var(--primary-foreground-color);
  border-left: 2px solid var(--primary-background-color);
  color: #fff;
  visibility: hidden;
  transition: visibility 500ms, left 500ms ease-in-out;
  z-index: 3;
  border-radius: 0 0.3rem 0.3rem 0;
}

.show {
  left: 4.9rem;
  visibility: visible;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}

.container {
  padding: 1rem;
}

.form {
  background-color: transparent;
  height: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button {
  width: 70%;
  padding: 0;
  height: 2.125rem;
  margin: 0.5rem 0;
  font-weight: 600;
}

.row {
  width: 100%;
}

.fields {
  width: 100% !important;
}
.fields > * {
  margin-bottom: 1rem;
}

.Header {
  font-size: 0.9rem;
}
