.feature {
  color: #fff;
  padding: 1rem 1.25rem;
}

.categories {
  display: flex;
  margin-bottom: 0.5rem;
}

.category {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.3125rem;
}

.category + .category {
  margin-left: 0.75rem;
}

.category.notBusy {
  background-color: #ccfae3;
}

.category.notBusy.image {
  background-image: url('./icons/not-busy.svg');
}

.category.busy {
  background-color: #feeccc;
}

.category.busy.image {
  background-image: url('./icons/busy.svg');
}

.category.veryBusy {
  background-color: #fad2df;
}

.category.veryBusy.image {
  background-image: url('./icons/very-busy.svg');
}

.score {
  margin-bottom: 0.75rem;
}

.name {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
