.contentPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 1.875rem;
  margin: 1.875rem;
  border-radius: 1rem;
  box-shadow: 0 16px 24px 0 rgba(19, 16, 16, 0.5);
  background-color: #fff;
}

.title {
  font-size: 1.5rem;
  padding: 0 0 1.875rem 1.875rem;
  margin-bottom: 1.125rem;
  border-bottom: 1px solid #979797;
}
