.organisationMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18.625rem;
  margin-top: 1.75rem;
  padding: 2.625rem;
}

.organisationInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.organisationLogo {
  object-fit: cover;
  border-radius: 0.625rem;
  height: 10.5rem;
  width: 9.5rem;
}

.organisationInfo h2 {
  text-align: center;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-darkgrey);
}
