.table {
  width: 100%;
  border-collapse: collapse;
  color: var(--color-darkgrey);
}

.scroll {
  overflow-y: auto;
}

.tr,
.theadr {
  border-bottom: 1px solid var(--color-grey);
}

.theadr {
  border-top: 1px solid var(--color-grey);
}

.th {
  padding: 2.5rem 1.75rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.td {
  padding: 2.5rem 1.75rem;
  max-width: 30ch;
}

.optionsColumn {
  position: relative;
}

.optionsButton {
  font-size: 1rem;
  padding: 0.25rem 1.25rem;
  margin: 0.8125rem;
  border-bottom: 1px solid var(--color-lightgrey);
  width: fit-content;
}

.optionsIcon {
  color: var(--color-darkgey);
  width: 1.5rem;
  cursor: pointer;
  transform: rotate(90deg);
}

.optionsIconSelected {
  color: var(--color-yellow);
}
