.table {
  width: 100%;
  border-collapse: collapse;
  color: var(--color-darkgrey);
}

.tr {
  border-bottom: 1px solid var(--color-grey);
}

.th {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.td {
  padding: 2.5rem 2rem 1.75rem;
}

.optionsColumn {
  position: relative;
}

.optionsIcon {
  color: var(--color-darkgey);
  width: 1.5rem;
  cursor: pointer;
}

.optionsIconSelected {
  color: var(--color-yellow);
}

.optionsDropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8.5rem;
  top: 2rem;
  height: 4rem;
  min-width: 12rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 16px 24px 0 var(--color-darkgrey);
  cursor: pointer;
}

.optionsText {
  padding: 0.5rem;
  margin: 0.5rem;
  border-bottom: 1px solid var(--color-darkgrey);
}
