.radio {
  margin-bottom: 1.5rem;
}

.text {
  color: #fff;
  font-size: 0.75rem;
  margin-bottom: 1.25rem;
}

.searchIcon {
  width: 1em;
  height: 1em;
  color: var(--color-primary);
}

.listHeader {
  font-size: 0.875rem;
  color: #d6d6d6;
}

.findButton,
.listHeader {
  margin-bottom: 0.75rem;
}

.findButton {
  margin-left: auto;
  margin-right: auto;
}
