.searchBox {
  background-color: var(--color-secondary);
  padding: 12px;
  border-radius: 2px;
  width: max-content;
  overflow: hidden;
}

.icon {
  width: 1rem;
  height: auto;
  color: var(--color-primary);
}

.input {
  color: var(--color-lightgrey-light);
  border: none;
  background-color: transparent;
  margin-left: unset;
  opacity: 0;
  max-width: 0;
  height: 0;
  transition: max-width 250ms ease;
}

.input:focus,
.input:not([value='']) {
  opacity: 1;
  width: auto;
  max-width: 100%;
  height: 1rem;
  margin-left: 12px;
}

.resultsList {
  margin-top: 6px;
  background-color: var(--color-secondary);
  color: var(--color-lightgrey-light);
  border-radius: 2px;
}

.resultsListItem {
  padding-left: 12px;
  padding-right: 12px;
}

.resultsList:hover {
  cursor: pointer;
}

.resultsListItem + .resultsListItem {
  margin-top: 0.5rem;
}
