.searchBox {
  position: relative;
  background-color: var(--color-secondary);
  display: flex;
  max-width: calc(24px + 1rem);
  transition: max-width 250ms ease;
}

.searchBox:focus-within {
  max-width: max-content;
}

.icon {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 1rem;
  height: 1rem;
  color: var(--color-primary);
}

.label {
  composes: hiddenLabel from '../../forms.module.css';
  position: absolute;
}

.input {
  color: var(--color-lightgrey-light);
  border: none;
  background-color: transparent;
  padding: 0;
  padding-left: calc(24px + 1rem);
  max-width: 0;
  height: 40px;
  transition: max-width 250ms ease, padding 250ms ease;
}

.input:focus,
.input:not([value='']) {
  max-width: 100%;
  padding: 12px;
  padding-left: calc(24px + 1rem);
}

.resultsList {
  margin-top: 6px;
  background-color: var(--color-secondary);
  color: var(--color-lightgrey-light);
  border-radius: 2px;
}

.resultsListItem {
  padding-left: 12px;
  padding-right: 12px;
}

.resultsList:hover {
  cursor: pointer;
}

.resultsListItem + .resultsListItem {
  margin-top: 0.5rem;
}
