.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fieldset {
  composes: row from '../../forms.module.css';
  margin-top: 1rem;
}

.legend {
  margin-bottom: 1em;
  color: var(--color--text--dark);
  font-size: 18px;
  font-weight: 600;
}

.licences {
  display: flex;
}

.licence + .licence {
  margin-left: 1rem;
}

.noLicencesText {
  color: var(--color--text--dark);
}

.button {
  margin: 1rem auto 0;
}
