.sectionTitle,
.valueLabel {
  font-weight: 600;
}

.sectionTitle {
  font-size: 1rem;
}

.propertyLabel,
.values {
  font-size: 0.875rem;
}

.propertyLabel {
  margin-bottom: 0.5rem;
}

.values {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.areaValue {
  color: var(--color-primary);
  font-style: italic;
}
