.field {
  composes: field from '../../../../components/field/field.module.css';
}

.label {
  composes: label from '../../../../components/field/field.module.css';
}

.submit {
  margin-left: auto;
  margin-right: auto;
}
