.profile {
  composes: container from '../../side-menu/control-panel.module.css';
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logout {
  margin-top: 1em;
  margin-bottom: 1em;
}

.p {
  --font-size: 0.625rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: var(--font-size);
}

.link {
  font-size: var(--font-size);
  color: #fff !important;
  margin-left: 0.5em !important;
}
