.storage {
  margin: auto 1rem 0 1rem;
  color: var(--color-lightgrey-light);
  width: 100%;
}

.storageHeader {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.storageIcon {
  width: 1rem;
  margin-right: 0.25rem;
}

.storageInfo {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.75rem;
}
