.compareItem {
  display: flex;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  color: #fff;
}

.selectMessage {
  font-weight: bold;
  color: var(--primary-background-color);
}

.selectMessage span {
  font-size: 1rem;
}

.moreInfoContent {
  color: #000;
}
