.compareItem {
  display: flex;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  color: #fff;
}

.selectMessage {
  font-weight: bold;
  color: var(--primary-background-color);
}

.selectMessage span {
  font-size: 1rem;
  border-bottom: 1px;
}

.moreInfoContent {
  color: #000;
}

.deleteIcon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.25rem;
  cursor: pointer;
}
