.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.navigationPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.content {
  height: 100%;
}

.panel h3 {
  font-weight: bolder;
}

.button {
  flex-direction: column;
  width: 5rem;
  height: auto;
  font-size: small !important;
  background-color: transparent;
  color: #a2aaad;
}

.button:active {
  background-color: var(--primary-button-background-color);
  color: #333f48;
}

.button:hover {
  background-color: transparent;
  color: #a2aaad;
}

.active {
  background-color: var(--primary-button-background-color);
  color: #333f48;
}

.icon {
  height: 2rem;
}
