.formSection {
  padding: 1.25rem;
}

.formSection h3 {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 1.25rem;
}

.checkboxList {
}

.checkboxListItem {
  margin: 0;
  height: 1.25rem;
}

.datePicker {
  border-bottom: 1px solid var(--primary-background-color);
  margin: 0 0.25rem;
}
