{% extends "admin/base_site.html" %}

{% load i18n admin_urls static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
{% endblock %}

{% block breadcrumbs %}
{# mostly copied from "contrib/admin/templates/admin/change_form.html #}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
  &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
  &rsaquo; Register CustomerUsers
</div>
{% endblock %}

{% block content %}

<h1>
  Please provide details of the <b>customer</b> &amp; <b>user</b> you wish to register
  (including which <b>orbs</b> to grant <b>licences</b> to)...
</h1>

&nbsp;<br />

<!-- TODO: MAKE THESE FORMS A BIT PRETTIER (IE: BOLD REQUIRED FIELDS, ETC.)-->

<form action="." method="POST">

  {% csrf_token %}

  <fieldset class="module aligned collapse">
    <h2>Customer Details:</h2>
    <br />&nbsp;
    {{ customer_form.as_p}}
  </fieldset>


  <fieldset class="module aligned collapse">
    <h2>User Details:</h2>
    <br />&nbsp;
    {{ user_form.as_p}}
  </fieldset>

  <fieldset class="module aligned collapse">
    <h2>Licence Details:</h2>
    <p>
      Please select the orbs this customer should be granted licences to.
      One of those licences will be assigned to the user being created in this form.
      The rest will be available for the user to assign to other users they invite to this customer.
    </p>
    <br />&nbsp;
    {{ customer_user_form.as_p}}
  </fieldset>


  <p>
    <input type="submit" name="apply" value="Apply" />
  </p>

</form>

{% endblock %}
