.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-secondary);
  width: 100%;
  height: 100%;
}

.drawingOptions,
.drawingToolsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.annotationsStyle {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 70%;
}

.drawingOptions {
  border-bottom: 1px solid #a2aaad;
}

.options {
  display: flex;
  flex-direction: column;
}

.drawingToolsContainer {
  height: 100%;
}

.header {
  margin-bottom: 1rem;
}

.lineButtons,
.deleteButtons {
  display: flex;
  flex-direction: column;
}

.lineButtons,
.annotationButtonsRow {
  width: 75%;
  margin-bottom: 1rem;
}

.lineButton,
.drawingToolsButton {
  padding: 0.5rem 0.5rem;
}

.annotationButtonsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.annotationButtons {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  padding: 0.5rem 1rem;
  height: 3rem !important;
  width: 4rem !important;
}

.text {
  height: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.buttonLabel {
  font-size: x-small;
  font-weight: normal;
}

.icon {
  /* width: 1rem; */
  height: 2rem;
}

.colorPickerContainer {
  position: relative;
}

.colorPicker {
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 1;
}

.lineButton {
  margin-bottom: 0.5rem;
}

.drawingTools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.drawingToolsButton {
  display: flex !important;
  flex-direction: column !important;
  height: 2.5rem !important;
  width: 2.5rem !important;
}
