.lineWidthContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 12rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.lineWidth {
  padding: 0.3rem !important;
  margin-bottom: 0.5rem;
}

.icon {
  width: 1rem;
}

/* .lineWidth1,
.lineWidth2,
.lineWidth3 {
  background-color: #000;
  width: 5rem;
}
.lineWidth1 {
  height: 1px;
}
.lineWidth2 {
  height: 2px;
}
.lineWidth3 {
  height: 3px;
} */
