.editForm,
.radios,
.button {
  display: flex;
}

.editForm > *:not(:last-child) {
  margin-bottom: 1.25rem;
}

.editForm {
  composes: form from '../create-user-form/create-user-form.module.css';
}

.title {
  font-weight: 700;
}
.checkboxes {
  composes: licences from '../create-user-form/create-user-form.module.css';
}

.checkboxes:not(:last-child) > *,
.radios:not(:last-child) > * {
  margin-right: 1rem;
}

.button {
  align-self: center;
}

.errorMessage {
  color: var(--color-error);
  padding: 0 1.5rem;
  margin-bottom: 1rem;
}
