.heading,
.legend,
.smallPrint {
  color: var(--color--text--dark);
}

.heading,
.smallPrint {
  text-align: center;
}

.heading,
.legend {
  font-weight: 600;
}

.heading {
  composes: row from '../../../forms.module.css';
  font-size: 1.125rem;
}

.fieldset {
  composes: row from '../../../forms.module.css';
  align-self: flex-start;
}

.radios {
  display: flex;
}

.radio + .radio {
  margin-left: 1em;
}

.smallPrint {
  composes: paragraph from '../../../forms.module.css';
  font-size: 0.5rem;
}

.link {
  display: inline-block;
  font-size: inherit;
  padding: 0;
}
