.categories {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: #f6be00;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.orbList {
  padding: 1.625rem 1.875rem 1.375rem;
  overflow-y: auto;
  height: 100%;
}

.orb::before {
  display: inline-block;
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--color--text--dark);
  margin-right: 1rem;
}

.orb {
  font-size: 1.125rem;
  font-weight: bold;
  opacity: 0.55;
  color: var(--color--text--dark);
}

.orb.selected {
  opacity: 1;
}

.orb:not(:first-child) {
  margin-top: 1.875rem;
}

.orb:hover {
  cursor: pointer;
}
