.categories {
  composes: section from '../data-layers-dialog.module.css';
  width: 40%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: #f6be00;
}

.orb::before {
  display: inline-block;
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--color--text--dark);
  margin-right: 1rem;
}

.orb {
  font-size: 1.125rem;
  font-weight: bold;
  opacity: 0.55;
  color: var(--color--text--dark);
  transition: opacity 150ms ease;
}

.orb.selected {
  opacity: 1;
}

.orb:not(:first-child) {
  margin-top: 1.875rem;
}

.orb:hover {
  cursor: pointer;
}
