.field {
  composes: row from '../../forms.module.css';
  margin-bottom: 0;
  flex-direction: column;
  align-items: flex-start;
}

.inline {
  display: grid;
  grid-template-columns: 25ch 1fr;
  align-items: baseline;
  justify-content: flex-end;
}

.inline .label {
  margin-right: 0.5em;
  text-align: right;
}

.label {
  margin-bottom: 0.5em;
}

.helpText {
  font-size: 0.6875rem;
  font-style: italic;
  color: var(--text--color--dark);
}
