.select {
  width: 10rem;
  padding-left: 0.5rem;
}

.select div {
  background-color: var(--header-background-color);
  color: var(--color--text--dark);
  cursor: pointer;
}

.select div:nth-child(3n) div div:hover {
  background-color: var(--color-secondary);
  color: var(--color--text--dark);
}

.select svg {
  fill: var(--button--primary--background-color);
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
