.corporate {
  composes: parentView from '../admin.module.css';
}

.corporateAccount {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer > * {
  margin-right: 1.25rem;
}

.logo {
  height: 4.4375rem;
  width: 4.875rem;
  border-radius: 1rem;
  box-shadow: 0 16px 24px 0 rgba(213, 213, 213, 0.5);
  object-fit: cover;
}

.defaultIcon {
  display: flex;
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  object-fit: cover;
  color: var(--color-primary);
}

.fieldTitle {
  font-size: 1.25rem;
  font-weight: 600;
}

.fieldWrapper {
  display: flex;
  margin: 1.25rem 0;
}

.fieldContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-right: 3.125rem;
}

.fieldContainer > *:not(:last-child) {
  margin-right: 1rem;
}

.vatField {
  align-items: center;
}

.fieldLabel {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  min-width: fit-content;
  margin-bottom: 1rem;
}

.notRegistered > * {
  opacity: 0.5;
}

.paymentID {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.paymentID .ID {
  font-style: italic;
}
